@using System.Globalization
@using DNTPersianUtils.Core
<form>
    <div class="date-header">
        <div class="d-flex justify-content-between align-items-center">
            <div style="padding: 2px;cursor: pointer"  @onclick:preventDefault="true" @onclick:stopPropagation="true" @onclick="_=>OnPrev()" >&#10094;</div>
            <div class="text-center">
                
                


                <span class="text-center"> @GetCurrentPersianMonth(_pDate).GetPersianMonthName()</span>
                <br/>
                <span class="text-center" style="font-size: 18px"><small>@GetCurrentPersianYear(_pDate)</small></span>


            </div>

            <div style="padding: 2px;cursor: pointer" @onclick:preventDefault="true" @onclick:stopPropagation="true" @onclick="_=>OnNext()" >&#10095;</div>

        </div>

        <div class="day-row">
            @foreach (var item in _weekDayNames)
            {
                <div style="padding: 2px">
                    <div class="text-center">
                        <span class="day-name"> @item</span>
                    </div>

                </div>
            }
        </div>
    </div>
</form>
<div class="box-days border">
    

     
    @foreach (var item in GetDays(_pDate))
        {
            @if (CanShow(item))
            {
                <div style="padding: 2px;cursor: pointer;" class="text-center"   @onclick="_ => DateSelected(item)">

                    <div  class="@GetItemClass(item)">
                        <span>
                            @item.GetPersianDayOfMonth().ToPersianNumbers()
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div style="padding: 2px;" ></div>
            }
           
        }

    </div>



<style>

    .date-header {
        background-color: #1abc9c;
        padding: 5px
    }



    .box-days {
        min-width: 300px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }
        .box-days > * {
            flex: 0 0 14.2857142857%;
           
        }

    .day-row {
        background-color: #1abc9c;
        min-width: 300px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }
        .day-row > * {
            flex: 0 0 14.2857142857%;
        }
    .day-row .day-name{
        text-align: justify;
        font-weight: bold;
    }

    .box-days .today {
      
        background: #1abc9c;
        color: white !important;
    }

   
</style>
@code {

    readonly IEnumerable<string> _weekDayNames = new List<string> { "ش", "ی", "د", "س", "چ", "پ", "ج" };



    //int _year;
    //int _pMonth;

    private DateTime _date = DateTime.Now;
    [Parameter]
    public DateTime Date
    {
        get => _date;
        set
        {
            _date = value;
            _pDate = Date == DateTime.MinValue ? DateTime.Now : value;

        }
    }

    DateTime _pDate;


    [Parameter]
    public IEnumerable<SpecialDay> SpecialDays { get; set; } = new List<SpecialDay>();

    [Parameter]
    public bool RenderSelectedDate { get; set; } = true;

    [Parameter]
    public bool RenderToday { get; set; } = true;


    [Parameter]
    public EventCallback<DateTime> DateChanged { get; set; }




    IEnumerable<DateTime> GetDays(DateTime item)
    {
        var ret = new List<DateTime>();
        var pc = new PersianCalendar();
        var month = pc.GetMonth(item);
        var year = pc.GetYear(item);

        var days = pc.GetDaysInMonth(year, month);
        var date = pc.ToDateTime(year, month, 1, 0, 0, 0, 0);


        var   _year = date.GetPersianYear();
        var  _pMonth = date.GetPersianMonth();
        var startWeekDay = date.PersianDayOfWeek();
        date = pc.AddDays(date, -startWeekDay);

        for (var i = 0; i < days+ startWeekDay; i++)
        {

            ret.Add(pc.AddDays(date, i));
        }
        return ret;

    }

    int GetCurrentPersianYear(DateTime date)
    {
        return date.GetPersianYear();
    }

    int GetCurrentPersianMonth(DateTime date)
    {
        return date.GetPersianMonth();
    }

    void OnNext()
    {
        AddMonth(1);
    }




    private void OnPrev()
    {
        AddMonth(-1);
    }

    private void AddMonth(int monthCount)
    {

        var pc = new PersianCalendar();

        var date = pc.ToDateTime(_pDate.GetPersianYear(), _pDate.GetPersianMonth(), 1, 0, 0, 0,0);
        _pDate = pc.AddMonths(date, monthCount);

        //_year = _date.GetPersianYear();
        //_pMonth = _date.GetPersianMonth();
        //var days = pc.GetDaysInMonth(_year, _pMonth);
        //var startWeekDay = _date.PersianDayOfWeek();
        //date = pc.AddDays(date,-startWeekDay);

        //for (var i = 0; i < days+ startWeekDay; i++)
        //{
        //    _days.Add(pc.AddDays(date,i));
        //}
    }

    private async Task DateSelected(DateTime item)
    {
        await DateChanged.InvokeAsync(item);
    }




    private string GetItemClass(DateTime item)
    {
        var selectedCss = RenderSelectedDate && item.DayOfYear == Date.DayOfYear ? "border border-primary" : "";
        var specialDay = SpecialDays.FirstOrDefault(d => d.Date.DayOfYear == item.DayOfYear);

        if (specialDay != null)
        {
            var bg= specialDay.BackgroundColor switch {
                Color.Link => "bg-white",
                Color.None => "bg-transparent",
                Color.Primary => "bg-primary",
                Color.Secondary => "bg-secondary",
                Color.Success => "bg-success",
                Color.Danger => "bg-danger",
                Color.Warning => "bg-warning",
                Color.Info => "bg-info",
                Color.Light => "bg-light",
                Color.Dark => "bg-dark",
                _ => throw new ArgumentOutOfRangeException()};

            return $"text-center {bg} {selectedCss}";
        }

        var today= RenderToday && item.DayOfYear == DateTime.Now.DayOfYear ? "today" : "";

        return $"text-center {today} {selectedCss}";


    }

    private bool CanShow(DateTime date)
    {
        var pc = new PersianCalendar();
        var month = pc.GetMonth(date);
        return month == _pDate.GetPersianMonth();

    }

}
